<%if @message%>
  Last crumb!
  <%=link_to "Back", current_user %>
<%else%>
  <%=button_to "Back To Trail", "/actives/#{@active.id}", method: "get" %>
<%end%>

<%if @needs_answer%>
<%=@crumb.question%>
  <%=form_for(@active_crumb, url: "/actives/#{@active.id}/active_crumbs/#{@active_crumb.id}") do |c| %>
  This crumb is locked. You must answer correctly to see the content.
  <%= c.text_area(:entered_answer) %><br>
  <%= c.submit "Enter" %>
  <%end%>
<%else%>
<h2><%=@trail.name%></h2>

<%=@crumb.name%>

<% if @trail.sequential%>
  #<%=@crumb.order_number%>
<%end%>

<%=@crumb.description%>

<%if @crumb.img_file_size%>
<div id="view">
  <img src= <%=@crumb.img%>/>
</div>
<%end%>

<%if @crumb.sound_file_size%>
<div id="view">
<audio controls>
  <source src=<%= @crumb.sound %>>
</audio>
		</div>
<%end%>

<%end%>
