<div class="text-container">

<%if @message%>
  <h1>You've Reached The End Of The Trail</h1>
  <%=link_to "Back to Home", current_user %>
<%else%>
  <%=button_to "On to the next Crumb", "/actives/#{@active.id}", method: "get" %>
<%end%>


<%if @needs_answer%>
<%=@crumb.question%>
  <%=form_for(@active_crumb, url: "/actives/#{@active.id}/active_crumbs/#{@active_crumb.id}") do |c| %>
  <p>This crumb is locked. You must answer correctly to see the content.</p>
  <%= c.text_area(:entered_answer) %><br>
  <%= c.submit "Enter" %>
  <%end%>
<%else%>
<h1 class="crumb-title"><%=@crumb.name%></h1>
<div class="position-relative">
 <%=image_tag("boy-crumbs.png", :class =>"crumb-title-boy") %>
</div>


<p><%=@crumb.description%></p>

<%if @crumb.img_file_size%>
<div id="view">
  <img src= <%=@crumb.img%>/>
</div>
<%end%>

<%if @crumb.sound_file_size%>
<div id="view" class="audio-controls">
  <audio controls>
    <source src=<%= @crumb.sound %>>
  </audio>
		</div>
<%end%>

<%end%>
</div>
