<%if @message%>
  Last crumb!
  <%=link_to "Back", current_user%>
<%else%>
  <%=link_to "Trail", "/actives/#{@active.id}"%>
<%end%>

<%unless @no_answer%>
<h2><%=@trail.name%></h2>

<%=@crumb.name%>

<% if @trail.sequential%>
  #<%=@crumb.order_number%>
<%end%>

<%=@crumb.description%>

<%if @crumb.img_file_size%>
<img src=<%= @crumb.img %>>
<%end%>

<%if @crumb.sound_file_size%>
<audio controls>
  <source src=<%= @crumb.sound %>>
</audio>
<%end%>

<%end%>
<% if @crumb.requires_answer%>
  <%=form_for(@active_crumb, url: "/actives/#{@active.id}/active_crumbs/#{@active_crumb.id}") do |c| %>
    This crumb is locked. You must answer correctly to see the content.
    <%= c.text_area(:entered_answer) %><br>
    <%= c.submit "Enter" %>
  <% end %>
<%end%>
