<h2><%=@trail.name%></h2>
<%=@crumb.name%>
<% if @trail.sequential%>
  (#<%=@crumb.order_number%>)
<%end%>

<div>Image and text</div>
<img src=<%= @crumb.img %>>

<% if @crumb.requires_answer%>

<%=form_for(@active_crumb, url: "/actives/#{@active.id}/active_crumbs/#{@active_crumb.id}") do |c| %>
  This crumb is locked, you must answer correctly to move on.
  <%= c.text_area(:entered_answer) %><br>
  <%= c.submit "Enter" %>
<% end %>
<%end%>

<br><br>
<%=link_to "Trail", "/actives/#{@active.id}"%>
