<h2><%=@trail.name%></h2>

<%=@crumb.name%>

<% if @trail.sequential%>
  #<%=@crumb.order_number%>
<%end%>

<%=@crumb.description%>

<img src=<%= @crumb.img %>>


<audio controls>
  <source src=<%= @crumb.sound %>>
</audio>


<% if @crumb.requires_answer%>
  <%=form_for(@active_crumb, url: "/actives/#{@active.id}/active_crumbs/#{@active_crumb.id}") do |c| %>
    This crumb is locked. You must answer correctly to move on.
    <%= c.text_area(:entered_answer) %><br>
    <%= c.submit "Enter" %>
  <% end %>
<%end%>

<br>
<br>
<%=link_to "Trail", "/actives/#{@active.id}"%>
