<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBh8Gl-b4c1HVmDA40eKK9dSHOqRNaAFjA&libraries=places,geometry" %>
<%= javascript_include_tag "active-map" %>
<div class="text-container">
  <div id="current"><p></p></div>
</div>
<div id="map-parent">
  <div id="display-map"></div>
  <div id="recenter-button-parent"></div>
  <div id="map-overlay">
    <%= image_tag("blank-map-overlay.png", :id => "blank-map-overlay") %>
    <%= image_tag("map-overlay.png") %>
  <%= image_tag("compass.png", :id => "compass_face") %>
  <%= image_tag("compass-hands.png", :id => "compass_hands") %>
</div>
</div>

