<h2><%=@trail.name%></h2>
<%=@crumb.name%>
<% if @trail.sequential%>
  (#<%=@crumb.order_number%>)
<%end%>

<div>Image and text</div>

<% if @crumb.requires_answer%>
<%= form_tag "/actives/#{@active.id}/crumbs/#{@crumb.id}", method:'post'%>
    Answer: <%= text_field_tag(:entered_answer) %><br>
    <%= submit_tag "Enter" %>
<%end%>
<br><br>
<%=link_to "Trail", "/actives/#{@active.id}"%>
