
<div class="text-container">
  <h2><%=@active.trail.name%></h2>
  <% if @active.trail.sequential%>
    <p>To be followed in sequence.</p>
  <%end%>
</div>

<%= render "maps/active-map" %>

<div class="text-container">
  <p><%=@active.trail.description%></p>
  <br>
  <p><%@active.active_crumbs.each do |c|%>
  <%=link_to c.crumb.name, "/actives/#{@active.id}/active_crumbs/#{c.id}"%>
  <%end%>
  </p>
  <br>
</div>

<div id="active-id"><%= @active.id %></div>

<% if @message%>
<%=@message%>
<%end%>
