<h2><%=@trail.name%></h2>

<%if @trail.crumbs %>
  <%@trail.crumbs.each do |c| %>
    <%= c.name %><br>
    <%= c.description %><br>
    <%= link_to "Edit Crumb", "/trails/#{@trail.id}/crumbs/#{c.id}/edit" %>
      <%=form_for([@trail, c], :html => { :method => :delete }) do |f|%>
        <%= f.submit "Delete Crumb" %>
      <% end %>
  <% end %>
<% end %>
  <br>
  <td><%= link_to "New Crumb", new_trail_crumb_path(@trail) %></td>

  <% if @trail.priv%>
    [PRIVATE]<br>
  <%else%>
    [PUBLIC]<br>
  <%end%>

  <p><%=@trail.description%></p>

  <% if @trail.sequential%>
    <div>To be followed in sequence.</div>
  <%end%>
<br>
Remove tags
<br>
<%@your_tags.each do |t|%>
<%= link_to t.tag.subject, "/trails/#{@trail.id}/remove/#{t.tag.id}" %> |
<%end%>
<br><br>
Add tags
<br>
<%@other_tags.each do |tag|%>
<%= link_to tag.subject, "/trails/#{@trail.id}/add/#{tag.id}" %> |
<%end%>


<br><td><%= link_to "Publish", "/trails/#{@trail.id}/publish" %></td>
