<h2><%=@trail.name%></h2>
<% if @trail.priv%>
  [PRIVATE]<br>
<%else%>
  [PUBLIC]<br>
<%end%>

<% if @trail.sequential%>
  <span>To be followed in sequence.</span>
<%end%>

<%if @trail.crumbs%>
  <%@trail.crumbs.each do |c|%>
    <%=c.name%><br>
    <%=c.description%><br>
    <%=link_to "Edit Crumb", "/trails/#{@trail.id}/crumbs/#{c.id}/edit"%>
    <%=form_for([@trail, c], :html => { :method => :delete }) do |f|%>
      <%= f.submit "Delete Crumb" %>
    <% end %>
  <% end %>
<% end %>

<br>
<br>
<div><%=link_to "New Crumb", new_trail_crumb_path(@trail)%></div>
<br>

<p><%=@trail.description%></p>

<br>

Remove Tags:
<br>
<%@your_tags.each do |t|%>
<%= link_to t.tag.subject, "/trails/#{@trail.id}/remove/#{t.tag.id}"%> |
<%end%>
<br>
<br>
Choose Tags Below:
<br>
<%@other_tags.each do |tag|%>
<%=link_to tag.subject, "/trails/#{@trail.id}/add/#{tag.id}"%> |
<%end%>
<br>
<br>
<br>
<td><%=link_to "Publish", "/trails/#{@trail.id}/publish"%></td>
