<%=render "maps/trail-map"%>

<div class="text-container">
	<%=form_for(@trail) do |t|%>
		Title: <%= t.text_field :name, placeholder: @trail.name%>
		<br>
    Description: <%= t.text_area :description, placeholder: @trail.description%>
		<br>
		<%if @trail.img_file_size%>
		<img src="<%=@trail.img%>">
		<%end%>
    <%=t.label :img%>
    <%=t.file_field :img%>
    Locked? <%= t.check_box(:priv) %>
    <%=t.text_field :password, placeholder: @trail.password%>
    <%=t.hidden_field(:latitude, :value => current_user.latitude)%>
    <%=t.hidden_field(:longitude, :value => current_user.longitude)%>
		<br>
		<%=t.submit "Update Trail"%>
	<%end%>
</div>

<%if @trail.crumbs%>
  <%@trail.crumbs.each do |c|%>
    <%=c.name%><br>
    <%=c.description%><br>
    <%=link_to "Edit Crumb", "/trails/#{@trail.id}/crumbs/#{c.id}/edit"%>
    <%=form_for([@trail, c], :html => { :method => :delete }) do |f|%>
      <%= f.submit "Delete Crumb" %>
    <% end %>
  <% end %>
<% end %>

<br>
<br>
<div><%=link_to "New Crumb", new_trail_crumb_path(@trail)%></div>
<br>


Remove Tags:
<br>
<%@your_tags.each do |t|%>
<%= link_to t.tag.subject, "/trails/#{@trail.id}/remove/#{t.tag.id}"%> |
<%end%>
<br>
<br>
Choose Tags Below:
<br>
<%@other_tags.each do |tag|%>
<%=link_to tag.subject, "/trails/#{@trail.id}/add/#{tag.id}"%> |
<%end%>
<br>
<br>
<br>
<td><%=link_to "Publish", "/trails/#{@trail.id}/publish"%></td>
