<h2><%=@trail.name%></h2>

<%if @trail.crumbs %>
  <%@trail.crumbs.each do |c| %>
    <%= c.name %><br>
    <%= c.description %><br>
    <%= link_to "Edit Crumb", "/trails/#{@trail.id}/crumbs/#{c.id}/edit" %>
      <%=form_for([@trail, c], :html => { :method => :delete }) do |f|%>
        <%= f.submit "Delete Crumb" %>
      <% end %>
  <% end %>
<% end %>
  <br>
  <td><%= link_to "New Crumb", new_trail_crumb_path(@trail) %></td>

  <% if @trail.priv%>
    [PRIVATE]<br>
  <%else%>
    [PUBLIC]<br>
  <%end%>

  <p><%=@trail.description%></p>

  <% if @trail.sequential%>
    <div>To be followed in sequence.</div>
  <%end%>

Select up to three (3) Tags:
 <%= select_tag(:tag1, options_for_select( @tags )) %>
 <%= select_tag(:tag2, options_for_select( @tags )) %>
 <%= select_tag(:tag3, options_for_select( @tags )) %>

 <br><div>Image upload here</div><br>

<br><td><%= link_to "Publish", "/trails/#{@trail.id}/publish" %></td>
