<% if @found_trails_or_tags != [] && !@found_trails_or_tags.nil? %>
 <div class="page-header">
   <h2 class="matching-color">Search Results:</h2>
 </div>
  <% @found_trails_or_tags.each do |found_trail_or_tag| %>
	  <% if found_trail_or_tag.respond_to?(:subject) %>
		<% @found_tags.each do |tag| %>
		<h2>Tag: <%= tag.subject %></h2>
			<% tag.trails.each do |trail| %>
		 			<span><%= link_to "#{trail.name}", trail_path(trail), class: 'link'  %><br></span>
		 		<%end%>
		 			<%end%>
		<% elsif found_trail_or_tag.respond_to?(:name) %>
			<%end%>
			<%end%>
		<h2 class="matching-color">Related Trails</h2>
		<% @found_trails.each do |trail| %>
 				<span><%= link_to "#{trail.name}", trail_path(trail), class: 'link'  %><br></span>
 			<%end%>
<%else%>
<div class="page-header">
<h2 class="matching-color">Explore</h2>
</div>
<%@published_trails.each do |t|%>
  <%=link_to t.name, t%> by <%=link_to t.creator.username, t.creator%><br>
  <%=t.description%>
  <%if t.tags%>
  <br>Tags:
    <%t.tags.each do |tag|%>
      <%=link_to tag.subject, tag%>
    <%end%>
  <br>
  <%end%>
  <br>
  <br>
<%end%>
<% end %>
