<div><%=link_to 'Create Trail', new_trail_path%></div>

<h4>Explore </h4>

<%@trails.each do |t|%>
  <%=link_to t.name, t%> by <%=link_to t.creator.username, t.creator%><br>
  <%=t.description%>
  <%if t.tags%>
  <br>Tags:
    <%t.tags.each do |tag|%>
      <%=tag.subject%>
    <%end%>
  <br>
  <%end%>
  <br>
  <br>
<%end%>

<%= link_to_previous_page @trails, 'Previous' %>
<%= paginate @trails, :window => 1, :remote => true %>
<%= link_to_next_page @trails, 'Next' %>
