<% if @found_trails_or_tags != [] && !@found_trails_or_tags.nil? %>
<div class="container">
  <div class="page-header">
   <h2>Search Results:</h2>
 </div>

 <div class="row text-container" id="less-space">
  <% @found_trails_or_tags.each do |found_trail_or_tag| %>
	  <% if found_trail_or_tag.respond_to?(:subject) %>
		<% @found_tags.each do |tag| %>
    <div class="col-sm-6">
		<h2 class="matching-color">Tag: <%= tag.subject %></h2>
			<% tag.trails.each do |trail| %>
		 			<span><%= link_to "#{trail.name}", trail_path(trail), class: 'link'  %><br></span>
		 		<%end%>
		 			<%end%>
		<% elsif found_trail_or_tag.respond_to?(:name) %>
			<%end%>
			<%end%>
    </div>
   <div class="col-sm-6">
		<h2 class="matching-color">Related Trails</h2>
		<% @found_trails.each do |trail| %>
 				<span><%= link_to "#{trail.name}", trail_path(trail), class: 'link'  %><br></span>
 			<%end%>
   </div>
  </div>
<%else%>

<div class="page-header">
<h2 class="matching-color">Explore</h2>
</div>

<div class="row text-container" id="less-space">
<div class="col-sm-12">
<%@published_trails.each do |t|%>
  <%=link_to t.name, t%> by <%=link_to t.creator.username, t.creator%><br>
  <span id="compass-arrow-small">➹</span> <%=t.description%> <span id="compass-arrow-small">➹</span>
  <%if t.tags%>
  <br><span class="matching-color">Tags:</span>
    <%t.tags.each do |tag|%>
      <%=link_to tag.subject, tag%>
    <%end%>
  <br>
  <%end%>
  <br>
  <br>
<%end%>
<% end %>
 </div>
</div>
</div>
