<h2><%=@trail.name%></h2>
<%if @trail.priv%>
  [PRIVATE]
<%else%>
  [PUBLIC]
<%end%>

<%if @trail.sequential%>
  <span>To be followed in sequence.</span>
<%end%>

<%if @trail.img%>
<img src="<%=@trail.img%>">
<%end%>

<div>
  <%if @trail.tags%>
  <br>Tags:
    <%@trail.tags.each do |tag|%>
      <%=tag.subject%>
    <%end%>
  <br>
  <%end%>
</div>

<p><%=@trail.description%></p>
<br>
<br>
<%=link_to 'Save for Later?', "/users/#{current_user.id}/add/#{@trail.id}"%>
<br>
<br>
<%=link_to 'Start Now!', "/actives/#{@trail.id}/join"%>
