<div class="container">
	<div class="row text-container">
		<div class="col-sm-12">
    <%= render "maps/crumb-map" %>
    </div>
  </div>

<div class="row text-container">
  <div class="col-sm-6">
  <%=form_for([@trail, @crumb]) do |c| %>
    Name:<br> <%= c.text_field(:name) %><br>
    Description:<br> <%= c.text_area(:description) %><br>
    Locked? <%= c.check_box(:requires_answer) %><br>
    If locked, please fill out below below.<br>
    Question:<br><%= c.text_area(:question) %><br>
    Answer:<br><%=c.text_area(:answer) %><br>
  </div>

  <div class="col-sm-6">

    Image:<%= c.file_field :img %><br>

    Sound:<%=c.file_field :sound%>
    <%= c.hidden_field(:latitude, :value => @crumb.latitude) %>
    <%= c.hidden_field(:longitude, :value => @crumb.longitude) %>
  </div>

    <div class="row text-container">
      <div class="col-sm-12">
    <br><br><br><br><%= c.submit "Add Crumb" %><br><br><br><br>
    <%end%>
</div>
</div>


</div>

<div style="display: none;" id="trail-id"><%= @trail.id %></div>
</div>
