<%= javascript_include_tag "fireflies" %>


  <div class="image-parent">

    <canvas id="fireflies"></canvas>
    <%=image_tag("forest.jpg", :class => "main_image")%>

  <div class="form-text">

  <h2>Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name))  do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :username %><br/>
        <%= f.text_field :login, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <div class="forgot-password">
      <%= link_to "Forgot Password", new_user_password_path, :class => 'light-green'  %>
    </div>
        <div class="i-meant-to-register">
      <%= link_to "I meant to register!", new_user_registration_path, :class => 'light-green'  %>
    </div>
  </div>
</div>

