<%= javascript_include_tag "fireflies" %>


  <div class="image-parent">

    <canvas id="fireflies"></canvas>
    <%=image_tag("forest.jpg", :class => "main_image")%>
    
  <div class="border-form-div">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.text_field :login, autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%= link_to "Forgot Password", new_user_password_path, :class => 'navbar-link'  %>
  </div>
</div>

