<!DOCTYPE html>
<html>
  <head>
    <title>Breadcrumb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <% if user_signed_in? %>

  <div class="container-fluid no-padding">
    <nav class="navbar navbar-default dark-green-navbar">
      <div class="container small-margin">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="navbar-brand">Breadcrumb</h1>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%=link_to "Home", current_user, :class => 'navbar-link navbar-link-text' %></li>
            <li><%= link_to 'Tags', tags_path, :class => 'navbar-link navbar-link-text' %></li>
            <li><%= link_to 'Preferences', edit_user_registration_path, :class => 'navbar-link navbar-link-text' %></li>
            <li><%= link_to "FAQ", '/faq', :class => 'navbar-link navbar-link-text'  %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link navbar-link-text'%></li>
            <li><%= form_tag trails_path, class: "search-bar", method: :get do %>
              <%= text_field_tag :query, params[:query], placeholder: "Search Trails or Tags" %>
              <%= submit_tag "GO", name: nil %></li>
            <% end %>



          </ul>
          <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse1">
            <li><%=link_to "Home", current_user, :class => 'navbar-link navbar-link-text' %></li>
            <li><%= link_to 'Tags', tags_path, :class => 'navbar-link navbar-link-text' %></li>
            <li><%= link_to 'Preferences', edit_user_registration_path, :class => 'navbar-link navbar-link-text' %></li>
            <li><%= link_to "FAQ", '/faq', :class => 'navbar-link navbar-link-text'  %></li>
            <li><%= form_tag root_path, class: "search-bar", method: :get do %>
              <%= text_field_tag :query, params[:query], placeholder: "Search Trails" %>
              <%= submit_tag "GO", name: nil %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link navbar-link-text'%></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
