<!DOCTYPE html>
<html>
  <head>
    <title>Breadcrumb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="navbar">
      <% if user_signed_in? %>
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search Trails" %>
          <%= submit_tag "GO", name: nil %>
        <% end %>
        <%= link_to 'Home', root_path, :class => 'navbar-link' %> |
      	<%= link_to 'Tags', tags_path, :class => 'navbar-link' %> |
        <strong><%=link_to current_user.username, current_user %></strong> |
        <%= link_to 'Account Preferences', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "FAQ", '/faq', :class => 'navbar-link'  %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%>
      <% end %>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
